name: Build Dark Psychology Video

on:
  repository_dispatch:
    types: [generate_video]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y ffmpeg
          python3 -m pip install edge-tts

      - name: Save Script Properly
        run: |
          printf "%s" "${{ github.event.client_payload.script }}" > script.txt
          cat script.txt

      - name: Generate Deep Voice + Subtitles
        run: |
          edge-tts \
            --voice en-US-ChristopherNeural \
            --rate="-5%" \
            --pitch="-6Hz" \
            --write-media voice.mp3 \
            --write-subtitles subs.srt \
            --file script.txt

      - name: Create Vertical Video With Subtitles + Watermark
        run: |
          ffmpeg -f lavfi -i color=c=black:s=1080x1920:d=60 \
          -i voice.mp3 \
          -vf "subtitles=subs.srt:force_style='Fontsize=60,PrimaryColour=&Hffffff&,Alignment=2,MarginV=120'" \
          -c:v libx264 -c:a aac -shortest output.mp4

      - name: Upload Video
        uses: actions/upload-artifact@v4
        with:
          name: eclipse-video
          path: output.mp4
